<header class="large" id="header">
    <div class="info">
        <div>
            <figure>
                <img src="assets/mail.png" alt="" >
                <figcaption>maximthehedgehog@yandex.ru</figcaption>
            </figure>
            <figure>
                <img src="assets/phone.png" alt="" >
                <figcaption>+7(921)872-37-29</figcaption>
            </figure>
        </div>
    </div>
  <section>
    <span><div></div></span>
    <div id="container">
        <a class="active" id="a_main" href="#main_a">Основное</a>
        <a id="a_skills" href="#skills_a">Навыки</a>
        <a id="a_callback" href="#callback_a">Связь</a>
    </div>
  </section>
</header>

