<header class="large" id="header">
    <div class="info">
        <div>
            <figure>
                <img src="assets/mail.png" alt="" >
                <figcaption>maximthehedgehog@yandex.ru</figcaption>
            </figure>
            <figure>
                <img src="assets/phone.png" alt="" >
                <figcaption>+7(921)872-37-29</figcaption>
            </figure>
        </div>
    </div>
  <!--<div>
    <figure>
      <img src="assets/mail.png" alt="">
      <figcaption>maximthehedgehog@yandex.ru</figcaption>
    </figure>
    <figure>
      <img src="assets/phone.png" alt="">
      <figcaption>+7(921)872-37-29</figcaption>
    </figure>
  </div>-->
  <section>
    <span><div></div></span>
    <div id="container">
        <a href="#main">Основное</a>
        <a href="#skills">Навыки</a>
        <a href="#callback">Связь</a>
    </div>
  </section>
</header>

