footer {
    background: #020237;
    height: 75px;
    color: #fff;
}
footer>p {
    text-align: center;
    padding-top: 25px;
    font-size: 1.2em;
    padding-bottom: 2px;
    border-bottom: 2px solid #fff;
    width: 230px;
    margin: 0 auto; 
}
footer>p>span {
    animation: fade 1.5s linear infinite;
}
<<<<<<< HEAD
=======
@media screen and (max-width: 480px) {
    footer>p {
        width: 200px;
    }
}
>>>>>>> develop
@keyframes fade {
    0% {
        color: rgba(255, 255, 255, 0.4);
    }
    50% {
        color: rgba(255, 255, 255, 1);
    }
    100% {
        color: rgba(255, 255, 255, 0.5);
    }
}


