<div id="general">
    <a id="main_a"></a>
    <div>
      <div>
      <img id="fadeImg" src="assets/img1.jpg">
    </div>
    <div id="fadeText">
      <h1>Веб-разработчик <span>Максим Горюнов</span></h1>
      <p>Помогаю с созданием одностраничных сайтов.</p>
      <div>
        <p>Санкт-Петербург, +7(921)872-37-29</p>
        <p>maximthehedgehog@yandex.ru
          <a href="https://github.com/MaxGoryunov" >Страница GitHub: MaxGoryunov</a>
        </p>
      </div>
    </div>
    </div>
  </div>
  
  