<a id="skills_a"></a>
<div id="skills">
    <figure class="s_figure">
        <div>
          <img src="assets/html.png" alt="">
        </div>
        <figcaption>
                <h4>HTML</h4>
                <p>Знание логики расположения элементов веб-страницы при помощи языка оформления текста HTML 5, фреймворк Bootstrap.</p>
        </figcaption>
    </figure>
    <figure class="s_figure">
        <div>
          <img src="assets/css.png" alt="">
        </div>
        <figcaption>
                <h4>CSS</h4>
                <p>Работа с каскадными таблицами стилей CSS 3, шаблонизаторами SCSS, Less; знание основ UX / UI дизайна.</p>
        </figcaption>
    </figure>
    <figure class="s_figure">
        <div>
          <img src="assets/javascript.png" alt="">
        </div>
        <figcaption>
                <h4>JAVASCRIPT</h4>
                <p>Язык программирования JavaScript(стандарт ES6), язык программирования TypeScript, фреймворки Angular 5, Angular 6.</p>
        </figcaption>
    </figure>
    <figure class="s_figure">
        <div>
          <img src="assets/git.png" alt="">
        </div>
        <figcaption>
                <h4>GIT</h4>
                <p>Работа с распределенной системой контроля версий Git, набором расширений Git-Flow.</p>
        </figcaption>
    </figure>
</div>