<app-header></app-header>
<main>
    <section style="background-image: url(assets/1_background.jpg); background-repeat: no-repeat; background-size: 1400px 595px;">
        <section style=" background: rgba(6, 142, 202, 0.5); background-size: 1400px 490px;">
            <app-general></app-general>
        </section>
    </section>
    <section style="background-image: url(assets/2_background.jpg); background-repeat: no-repeat; background-size: 1400px 650px;">
        <section style="background: rgba(6, 142, 202, 0.9);">
            <app-skills></app-skills>
        </section>
    </section>
</main>