<app-header></app-header>
<main>
    <section style="background-image: url(assets/1_background.jpg); background-repeat: no-repeat; background-size: 1400px 650px; background-position: center center;">
        <section style=" background: linear-gradient(to bottom, rgba(6, 142, 202, 0.5), rgba(6, 142, 202, 0.8)); background-size: 1400px 650px;">
            <app-general></app-general>
        </section>
    </section>
    <section id="2_background" style="background-image: url(assets/2_background.jpg); background-repeat: no-repeat; background-size: 1400px 650px;">
        <section style="background: linear-gradient(to bottom, rgba(6, 142, 202, 0.9), rgba(2, 68, 126, 0.9)) ;">
            <app-skills></app-skills>
        </section>
    </section>
    <section>
        <section>
            <app-feedback></app-feedback>
        </section>
    </section>
</main>
<app-footer></app-footer>



