main {
    padding-top: 0px;
    overflow: hidden;
}
main>section:first-child {
    background-attachment: fixed;
}
main>section:nth-child(2) {
    height: 650px;
}
main>section:nth-child(2)>section {
    height: 650px;
}
/*@media screen and (max-width: 480px) {
    main>section:first-child {
        height: 100vh;
    }
    main>section:first-child>section {
        height: 100vh;
    }
    main>section:nth-child(2) {
        height: 100vh;
    }
    main>section:nth-child(2)>section {
        height: 100vh;
    }
}*/

