main {
    padding-top: 0px;
    overflow: hidden;
}
main>section {
    height: 100vh;
}
main>section>section {
    height: 100vh;
}
main>section:first-child {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
main>section:nth-child(2) {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
}
@media screen and (max-width: 480px) {
    main>section:first-child {
        background-size: 221.5vh 100vh;
    }
    main>section:first-child>section {
        background-size: 221.5vh 100vh;
    }
    main>section:nth-child(2) {
        background-size: 221.5vh 100vh;
    }
    main>section:nth-child(2)>section {
        background-size: 221.5vh 100vh;
    }
}

