/* You can add global styles to this file, and also import other style files */
* {
    margin: 0;
    padding: 0;
}
body {
    background: #fff;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    color: #fff;
}
a {
    transition: 0.5s ease-out;
}

